<h1>Home</h1>
<%# <%=  react_component "path to component here", { frequencyData: @heart.frequency, ....} %>
<%= javascript_pack_tag 'hello_react' %>
    <%= content_tag :div,
      id: "word_data",
      data: @heart.to_json do %>
   <% end %>