body {
  font-family: "Lucida Console", monospace;
}
.tableHeaderRow { 
  background-color: #ac4c4c; 
  font-size: 1.500rem;
  font-weight: bold;
  letter-spacing: 2%;
  color: #ffffff;
}
table {
    border-collapse: collapse;
    border: 1px solid rgb(156, 156, 156);
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff; 
}

td {
  text-align: center;
  /* background-color: #f2f2f2; */
}
th, td {
  border: 1px solid rgb(181, 181, 181);
  padding: 15px;
}

.bg_primary-color {
  background-color: #d8f2ff;
}